.body {
  /* background: url(../assets/wizkid.png); */
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover !important;
  object-fit: contain;
  overflow: hidden;
  position: relative;
  /* opacity: .2; */
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.component {
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  background-color: rgba(255, 255, 255, 0.09);
  width: 70%;
  height: 90vh;
  max-width: 600px;
  margin: 2em auto 5em auto;
  padding-bottom: 2em;
  border-radius: 10px;
  z-index: 10000;
  position: relative;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.5);
}

.component > h2 {
  color: #fdfdfd;
}
.bgBlur {
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.09);
  /* background: linear-gradient(
    to bottom right,
    rgba(66,54,105,255) ,
    rgba(36,38,60,255) 10%,
    rgba(48,50,83,255)  50%,
    rgba(39,41,66,255)  90%,
    rgba(66,54,105,255) ); */
  height: 100vh;
  padding-top: 1px;
}

.musicCover {
  border-radius: 10%;
  width: 70%;
  height: 50%;
  position: relative;
}
.loading-text {
  color: #fff;
  font-size: 1.5rem;
  margin-top: -20px;
}

.playButton {
  background: none;
  border: none;
  outline: none;
  align-items: center;
  margin-top: 15px;
  justify-content: center;
  position: relative;
}

.playButton:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 1;
  font-size: 13px;
  background-color: transparent;
  color: #fff;
  text-align: center;
  border: none;
  /* padding: 5px 0; */
  transition:  1s ease-in-out;

  transition-duration: 0.1s;

  position: absolute;
  z-index: 1;
  left: 20%;
  top: -15%;
}

.playButton:hover:before {
  opacity: 1;
  transition-delay: 0.4s;
  visibility: visible;
}
.playButton:hover {
  transform: scale(1.15);
}
.playButton:active {
  transform: scale(0.8);
  box-shadow: inset 0 0 1px transparent;
  border-radius: 50%;
  border: none;
  opacity: 0.7;
}
.title {
  color: #ffffff;
}

.subTitle {
  margin-top: -1em;
  color: rgb(255, 255, 255);
}

.track {
  width: 100%;
  height: 4px;
  background: #dddddd;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}
.track-inner {
  width: 0;
  height: 100%;
  background: #27ae60;
}

.loaders {
  border: none;
  background: linear-gradient(#e15b64, #f47e60, #f8b26a, #abbd81, #849b87);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  position: absolute;
  top: 22%;
  left: 40%;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner-text {
  position: absolute;
  top: 40%;
  left: 44%;
  color: #fff;
  font-size: 1.2em;
}

.time {
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  color: hsl(0, 0%, 100%);
  font-size: medium;
}
.muteBtn {
  background-color: transparent;
  border: none;
  color: #f6f2f8;
  font-size: 1.4rem;
  cursor: pointer;
}
.muteBtn:active, .muteBtn2:active {
  transform: scale(0.87);
  box-shadow: inset 0 0 1px transparent;
  border-radius: 50%;
  border: none;
  opacity: 0.7;
}
.muteBtn2 {
  background-color: transparent;
  border: none;
  color: #f6f2f8;
  font-size: 1.4rem;
  cursor: pointer;
}

.timeline {
  width: 80%;
  color: #27ae60;
  background-color: #27ae60;
}

input[type="range"] {
  background-color: #27ae60;
}
input[type="range"] {
  -webkit-appearance: none;
  margin-right: 15px;
  width: 80%;
  height: 7px;
  background: #d6c7e8;
  border-radius: 5px;
  /* background-image: linear-gradient(#ff4500, #ff4500); */
  background-size: 0%;
  background-repeat: no-repeat;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #a509ed;
  box-shadow: 0 0 2px 0 #555;
  transition: background 0.3s ease-in-out;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

@media (max-width: 900px) {
  .component {
    width: 95%;
  }
  .musicCover {
    border-radius: 10%;
    height: 90%;
    width: 65%;
  }
  .btns {
    margin-top: 10px;
    margin-bottom: 100px;
  }
  .playButton {
    font-size: 1em;
  }
  .input-wrapper {
    margin-top: 30px;
  }
}
/* @media only screen and (max-width: 600px) {
  .component {
    width: 95%;
  }
  .musicCover {
    border-radius: 10%;
    height: 90%;
    width: 70%;
  }
  .btns {
    margin-top: 150px;
  }
} */
@media (max-width: 600px) {
  .component {
    width: 90%;
  }
  .musicCover {
    height: 90%;
    width: 70%;
    margin-bottom: 20px;
    margin-top: 150px;
  }
  .btns {
    margin-top: 40px;
    margin-bottom: 100px;
  }
}
@media (max-width: 700px) {
  .component {
    width: 95%;
    overflow-y: scroll;
  }
  .btns {
    margin-top: 10px;
  }
  .musicCover {
    height: 90%;
    width: 75%;
    margin-bottom: 20px;
    margin-top: 40px;
  }
  .playButton {
    font-size: 1.1em;
  }
  .input-wrapper {
    margin-top: 0px;
  }
}
@media (min-width: 901px) {
  .component {
    width: 90%;
  }

  .musicCover {
    border-radius: 10%;
    height: 80%;
    width: 75%;
  }
  .playButton {
    background: none;
    border: none;
    align-items: center;
    justify-content: center;
    font-size: 1.1em;
  }
  .btns {
    margin-top: 10px;
    margin-bottom: 100px;
  }
}
@media (min-width: 1100px) {
  .component {
    width: 90%;
  }

  .musicCover {
    border-radius: 10%;
    height: 80%;
    width: 65%;
  }
  .playButton {
    background: none;
    border: none;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
  }
  .btns {
    margin-top: 10px;
    margin-bottom: 100px;
  }
  .input-wrapper {
    margin-top: 30px;
  }
}
